{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-transparent">
                <strong>Création d'un panier</strong>
        </div>

        <div class="panel-body">
            {{ form_start(edit_form) }}    
            <fieldset>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6">
                            <label>Date mise à jour : </label>
                            {{ form_widget(edit_form.dateDerniereModif, {'attr':{'class':'required'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6">
                            <label>Prix : </label>
                            {{ form_widget(edit_form.prix, {'attr':{'class':'form-control required'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6">
                            <label>Produit(s) : </label>
                            {{ form_widget(edit_form.produits, {'attr':{'class':'form-control required'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6">
                            <label>Type de panier : </label>
                            {{ form_widget(edit_form.typePanier, {'attr':{'class':'form-control required'}}) }}
                        </div>
                    </div>
                </div>
                        
                <input type="submit" value="Modifier" class="btn btn-success"/>
            </fieldset>     
            {{ form_end(edit_form) }}
            
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </div>
    </div>

    <a href="{{ path('panier_index') }}" class="btn btn-primary">Retour</a><br><br>
{% endblock %}

