{% extends 'base.html.twig' %}

{% block body %}
    <h1>TypePanier</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ typePanier.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ typePanier.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typepanier_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('typepanier_edit', { 'id': typePanier.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
