{% extends 'baseAdmin.html.twig' %}
{% block body %}
<div>
    <a href="{{ path('producteur_index') }}" class="btn btn-primary">Retour</a><br><br>
</div>

<div id="content" class="padding-20">
	<div class="panel panel-default">
		<div class="panel-heading panel-heading-transparent">
			<strong>Ajouter des produits à {{ producteur.user.nom }} - {{ producteur.user.prenom }}</strong>
		</div>

		<div class="panel-body">
			
			
{{ form_start(form) }}    
            <fieldset>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6">
                            <label> Quantité : </label>
                            {{ form_widget(form.quantite, {'attr':{'class':'form-control required'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6">
                            <label>Poid : </label>
                            {{ form_widget(form.poids, {'attr':{'class':'form-control required'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6">
                            <label>Entrepot : </label>
                            {{ form_widget(form.entrepot, {'attr':{'class':'form-control','required':'required'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6">
                            <label>Produit : </label>
                            {{ form_widget(form.produits, {'attr':{'class':'form-control','required':'required'}}) }}
                        </div>
                    </div>
                </div>
                        
                <input type="submit" value="Ajouter" class="btn btn-success"/>
            </fieldset>
            {{ form_end(form) }}
		</div>
	</div>
</div>
{% endblock %}

