{% extends 'baseAdmin.html.twig' %}

{% block body %}
<div>
    <a href="{{ path('producteur_index') }}" class="btn btn-primary">Retour</a><br><br>
</div>
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-transparent">
                <strong>Ajout d'un producteur</strong>
        </div>

        <div class="panel-body">
            {{ form_start(form) }}    
            <fieldset>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6">
                            <label> Numero : </label>
                            {{ form_widget(form.numero, {'attr':{'class':'form-control required'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6">
                            <label>Nom : </label>
                            {{ form_widget(form.user.nom, {'attr':{'class':'form-control required'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6">
                            <label>Prenom : </label>
                            {{ form_widget(form.user.prenom, {'attr':{'class':'form-control','required':'required'}}) }}
                        </div>
                    </div>
                </div>
                        
                <input type="submit" value="Ajouter" class="btn btn-success"/>
            </fieldset>
            {{ form_end(form) }}
        </div>

    </div>

{% endblock %}
