{% extends 'base.html.twig' %}

{% block body %}
    <h1>Stock list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantite</th>
                <th>Poids</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <td><a href="{{ path('stock_show', { 'id': stock.id }) }}">{{ stock.id }}</a></td>
                <td>{{ stock.quantite }}</td>
                <td>{{ stock.poids }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('stock_show', { 'id': stock.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('stock_edit', { 'id': stock.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('stock_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
