{% extends 'base.html.twig' %}

{% block body %}
    <h1>EtatCommande list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Datemajetatcommande</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etatCommande in etatCommandes %}
            <tr>
                <td><a href="{{ path('etatcommande_show', { 'id': etatCommande.id }) }}">{{ etatCommande.id }}</a></td>
                <td>{% if etatCommande.dateMAJEtatCommande %}{{ etatCommande.dateMAJEtatCommande|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('etatcommande_show', { 'id': etatCommande.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('etatcommande_edit', { 'id': etatCommande.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('etatcommande_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
