{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <h1>ContratClient</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contratClient.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ contratClient.libelle }}</td>
            </tr>
            <tr>
                <th>Document</th>
                <td>{{ contratClient.document }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{% if contratClient.dateDebut %}{{ contratClient.dateDebut|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{% if contratClient.dateFin %}{{ contratClient.dateFin|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modepaiement</th>
                <td>{{ contratClient.modePaiement }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contratclient_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('contratclient_edit', { 'id': contratClient.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
