{% extends 'baseAdmin.html.twig' %}

{% block body %}
<div>
    <a href="{{ path('contratclient_index') }}" class="btn btn-primary">Retour</a><br><br>
</div>
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-transparent">
                <strong>Affichage d'un contrat client</strong>
        </div>

        <div class="panel-body">    
            <fieldset>
                <b>Libelle : </b>{{ contratClient.libelle }}<br>
                <b>Document : </b>{{ contratClient.document }}<br>
                <b>Date de début : </b>{% if contratClient.dateDebut %}{{ contratClient.dateDebut|date('d/m/Y') }}{% endif %}<br>
                <b>Date de fin : </b>{% if contratClient.dateFin %}{{ contratClient.dateFin|date('d/m/Y') }}{% endif %}<br>
                <b>Mode de paiement : </b>{{ contratClient.modePaiement }}<br>
                <b>Paniers : </b>
                {% for panier in contratClient.paniers %}
                    <br>- {{panier.typePanier}}
                {% endfor %}
            </fieldset><br><br>
            
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </div>

    </div>
{% endblock %}
