{% extends 'base.html.twig' %}

{% block body %}
    <h1>Produit list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td><a href="{{ path('gestionProduits_show', { 'id': produit.id }) }}">{{ produit.id }}</a></td>
                <td>{{ produit.libelle }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('gestionProduits_show', { 'id': produit.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('gestionProduits_edit', { 'id': produit.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('gestionProduits_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
