{% extends 'baseAdmin.html.twig' %}



{% block body %}
<div>
    <a href="{{ path('gestionProduits_index') }}" class="btn btn-primary">Retour</a><br><br>
</div>
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-transparent">
                <strong>Création d'un produit</strong>
        </div>

        <div class="panel-body">
            {{ form_start(form) }}    
            <fieldset>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6">
                            <label> Libelle : </label>
                            {{ form_widget(form.libelle, {'attr':{'class':'form-control required'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6">
                            <label>Prix : </label>
                            {{ form_widget(form.prix, {'attr':{'class':'form-control required'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6">
                            <label>Catégorie de produit : </label>
                            {{ form_widget(form.categorieProduit, {'attr':{'class':'form-control','required':'required'}}) }}
                        </div>
                    </div>
                </div>
                        
                <input type="submit" value="Ajouter" class="btn btn-success"/>
            </fieldset>
            {{ form_end(form) }}
        </div>

    </div>

{% endblock %}

{% block javascripts %}
<script>
	var fruits = [

                     "ActionScript",
                     "AppleScript"
                 ];

    var legumes = [


    ];

    var availableTags = [
"Abricot",

"Ail",
"Airelle",

"Amande",
"Ananas",

"Artichaut",
"Asperge blanche",
"Asperge verte",
"Aubergine",
"Avocat",

"Banane",

"Bette",
"Betterave rouge",
"Brocoli",
"Carotte",

"Cassis",

"Catalonia",
"Céleri",
"Céleri branche",
"Céleri rave",

"Cerise",
"Châtaigne",

"Chou blanc",
"Chou de Bruxelles",
"Chou frisé",
"Chou Romanesco",
"Chou rouge",
"Chou-chinois",
"Chou-fleur",
"Chou-rave",
"Cima di Rapa",

"Citron",

"Citrouille",

"Clémentine",
"Coing",

"Concombre",
"Courge",
"Courgette",
"Cresson",

"Datte",

"Endive",
"Epinard",
"Fenouil",

"Figue fraîche",
"Fraise",
"Fraise des bois",
"Framboise",
"Fruit de la passion",
"Grenade",
"Groseille",
"Groseille à maquereau",

"Haricot",

"Kaki",
"Kiwi",
"Kumquat",

"Laitue romaine",

"Litchi",

"Mâche",
"Maïs",

"Mandarine",
"Mangue",
"Marron",

"Melon",

"Mirabelle",
"Mûre",
"Myrtille",

"Navet",

"Nectarine",
"Noisette",
"Noix",

"Oignon",

"Orange",
"Orange sanguine",
"Pamplemousse",
"Panais",
"Papaye",
"Pastèque",
"Pâtisson",
"Pêche",
"Petit oignon blanc",
"Petit pois",
"Poire",
"Poireau",
"Pois mange-tout",
"Poivron",
"Pomme",
"Pomme de terre",
"Potimarron",
"Potiron",
"Prune",
"Quetsche",
"Radis",
"Radis long",
"Raisin",
"Reine-claude",
"Rhubarbe",
"Salsifis",
"Tomate",
"Tomate charnue",
"Tomate Peretti",
"Topinambour",
                        ];
                 $("#produit_libelle").autocomplete({
                     source: availableTags,
                     change: function (event, ui) {
                         if(!ui.item){
                             //http://api.jqueryui.com/autocomplete/#event-change -
                             // The item selected from the menu, if any. Otherwise the property is null
                             //so clear the item for force selection
                             $("#produit_libelle").val("");
                         }

                     }

                 });
</script>

{% endblock %}
            