{% extends 'base.html.twig'%}

{% block css %}
    <link href="{{asset('assets/plugins/slider.revolution/css/extralayers.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('assets/plugins/slider.revolution/css/settings.css')}}" rel="stylesheet" type="text/css" />
{%endblock%}

{% block body %}
    <!-- REVOLUTION SLIDER -->
    <div class="slider fullwidthbanner-container roundedcorners">
        <div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview1">
            <ul class="hide">
                
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Slide title 1" data-thumb="{{asset('assets/images/fruit_legume.jpg')}}">
                    <img src="{{asset('assets/images/1x1.png')}}" data-lazyload="{{asset('assets/images/fruit_legume.jpg')}}" alt="" data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat" />

                    <div class="overlay dark-1"><!-- dark overlay [1 to 9 opacity] --></div>

                    <div class="tp-caption customin ltl tp-resizeme text_white"
                        data-x="center"
                        data-y="155"
                        data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                        data-speed="800"
                        data-start="1000"
                        data-easing="easeOutQuad"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="1000"
                        data-endeasing="Power4.easeIn" style="z-index: 10;">
                        <span class="weight-300">Association pour le Maintien de l'Agriculture Paysanne</span>
                    </div>

                    <div class="tp-caption customin ltl tp-resizeme large_bold_white"
                        data-x="center"
                        data-y="205"
                        data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                        data-speed="800"
                        data-start="1200"
                        data-easing="easeOutQuad"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="1000"
                        data-endeasing="Power4.easeIn" style="z-index: 10;">
                        Bienvenue sur le site de votre AMAP
                    </div>

                    <div class="tp-caption customin ltl tp-resizeme small_light_white font-lato"
                        data-x="center"
                        data-y="295"
                        data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                        data-speed="800"
                        data-start="1400"
                        data-easing="easeOutQuad"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="1000"
                        data-endeasing="Power4.easeIn" style="z-index: 10; width: 100%; max-width: 750px; white-space: normal; text-align:center; font-size:20px;">
                        Un lien direct entre paysans et consommateurs, qui s'engagent à acheter la production de celui-ci à un prix équitable et en payant par avance.
                    </div>

                    <div class="tp-caption customin ltl tp-resizeme"
                        data-x="center"
                        data-y="383"
                        data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                        data-speed="800"
                        data-start="1550"
                        data-easing="easeOutQuad"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="1000"
                        data-endeasing="Power4.easeIn" style="z-index: 10;">
                        <a href="{{path('paniers_index')}}" class="btn btn-default btn-lg">
                                <span>Consulter nos paniers</span> 
                        </a>
                    </div>
                </li>
                
            </ul>
        </div>
    </div>
{% endblock body%}

{% block javascripts %}
    <!-- REVOLUTION SLIDER -->
    <script type="text/javascript" src="{{asset('assets/plugins/slider.revolution/js/jquery.themepunch.tools.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('assets/plugins/slider.revolution/js/jquery.themepunch.revolution.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('assets/js/view/demo.revolution_slider.js')}}"></script>
{% endblock %}