{% extends 'baseAdmin.html.twig' %}

{% block body %}
<div>
    <a href="{{ path('contratproducteur_index') }}" class="btn btn-primary">Retour</a><br><br>
</div>
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-transparent">
                <strong>Création d'un Contrat de producteur</strong>
        </div>

        <div class="panel-body">
            {{ form_start(form) }}    
            <fieldset>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6">
                            <label> Libelle : </label>
                            {{ form_widget(form.libelle, {'attr':{'class':'form-control required'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6">
                            <label>Prix : </label>
                            {{ form_widget(form.document, {'attr':{'class':'form-control required'}}) }}
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6">
                            <label>Date de début : </label>
                            {{ form_widget(form.dateDebut, {'attr':{'required':'required'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6">
                            <label>Date de fin : </label>
                            {{ form_widget(form.dateFin, {'attr':{'required':'required'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6">
                            <label>Mode de paiement : </label>
                            {{ form_widget(form.modePaiement, {'attr':{'class':'form-control'}}) }}
                        </div>
                    </div>
                </div>  
                 <div class="row">
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6"> 
               				  <div id="champs"></div>  
               				  <div id="collection" data-prototype="{{ _self.ajouter_produit_prototype(form.produits.vars.prototype)|e }}">
               				  
							    {% for produit in form.produits %}
							        {{ _self.ajouter_produit_prototype(produit) }}
							    {% endfor %}
							    <button id="b" class="btn btn-success">Ajouter un produit</button>
							</div> 
                 		</div>
                    </div>
                </div> 
                
                <input type="submit" value="Ajouter" class="btn btn-success"/>
            </fieldset>
            
            <div class="hidden">{{ form_end(form) }}</div>
            
            
           
        </div>

    </div>
    
{% macro ajouter_produit_prototype(produit) %}
    <div class="row">
		<div class="form-group">
			<div class="col-md-3 col-sm-3"> 
			<label>Poid : </label>
				<div >{{ form_widget(produit.poidProduit) }}</div>   
			</div>
			
			<div class="col-md-3 col-sm-3"> 
			<label>Produit : </label>
				<div>{{ form_widget(produit.produit) }}</div>   
			</div>
		</div>
	</div> 
{% endmacro %}
    
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
function add() {
    var collectionHolder = $('#collection');
    var prototype = collectionHolder.attr('data-prototype');
    form = prototype.replace(/\$\$name\$\$/g, collectionHolder.children().length);
    $('#champs').append(form);
}

$('#b').click(function (event) {
    event.preventDefault();
    add();
});
</script>
{% endblock javascripts %}
