{% extends 'baseAdmin.html.twig' %}

{% block body %}
<div>
    <a href="{{ path('contratproducteur_index') }}" class="btn btn-primary">Retour</a><br><br>
</div>
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-transparent">
                <strong>Affichage d'un contrat producteur</strong>
        </div>

        <div class="panel-body">    
            <fieldset>
                <b> Libelle : </b>{{ contratProducteur.libelle }}<br>
                <b>Document : </b>{{ contratProducteur.document }}<br>
                <b>Date de début : </b>{% if contratProducteur.dateDebut %}{{ contratProducteur.dateDebut|date('d/m/Y') }}{% endif %}<br>
                <b>Date de fin : </b>{% if contratProducteur.dateFin %}{{ contratProducteur.dateFin|date('d/m/Y') }}{% endif %}<br>
            </fieldset><br><br>
            
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </div>

    </div>
{% endblock %}

